@import url("/style/reset.css");

// ▼ 변수

$mp3-container__device__head__color: black;
$radius-1rem: 1rem;

// ▲ 변수

// ▼ 폰트

@font-face {
  font-family: "NanumPenScript-Regular";
  src: url("/style/NanumPenScript-Regular.ttf") format("truetype");
}

// ▲ 폰트

// ▼ 공통요소
body {
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: "NanumPenScript-Regular";
}

input[type="range"] {
  -webkit-appearance: none;
  overflow: hidden;
  background: transparent;
  cursor: pointer;
  background: rgb(255, 219, 219);
  border-radius: $radius-1rem;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0.9rem;
  height: 0.9rem;
  background: black;
  box-shadow: -100rem 0 0 100rem rgb(255, 109, 133);
}

.hidden-visibility {
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
}

// ▲ 공통요소

.mp3-container {
  width: 100vw;
  height: 100vh;

  &__background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5rem);
  }

  &__device {
    width: 25rem;
    height: 39rem;
    position: absolute;
    top: 11rem;
    left: 40%;
    border-radius: $radius-1rem;
    box-shadow: black 0rem 0.5rem 1rem;
    border: 0.15rem solid black;
    background-color: white;

    &__head {
      width: 25rem;
      height: 24rem;
      border-top-left-radius: $radius-1rem;
      border-top-right-radius: $radius-1rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__title {
        color: $mp3-container__device__head__color;
        padding-top: 0.7rem;
        padding-bottom: 0.5rem;
        font-size: 2rem;
      }

      &__artist {
        font-size: 1.5rem;
        color: $mp3-container__device__head__color;
      }

      &__disk {
        margin-top: 1rem;
        width: 17rem;
        height: 17rem;
        border-radius: 9rem;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: rotate_image 13s linear infinite;
        transform-origin: 50% 50%;
        background-size: contain;
        background-repeat: no-repeat;
        border: 0.15rem solid black;

        @keyframes rotate_image {
          100% {
            transform: rotate(360deg);
          }
        }

        &__point {
          width: 1.5rem;
          height: 1.5rem;
          background-color: white;
          border-radius: 2rem;
          border: 0.2rem solid black;
        }

        &__pause {
          animation-play-state: paused;
        }
      }
    }

    &__body {
      width: 25rem;
      height: 15rem;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;

      &__track-wrap {
        position: relative;
        width: 25rem;
        height: 5rem;
        display: flex;
        justify-content: center;

        &__timeline {
          width: 22rem;
          height: 0.9rem;
        }

        &__start-time {
          position: absolute;
          font-size: 1.5rem;
          top: 1.3rem;
          left: 1.5rem;
        }

        &__end-time {
          position: absolute;
          font-size: 1.5rem;
          top: 1.3rem;
          right: 1.5rem;
        }
      }

      &__bottons-wrap {
        position: relative;
        width: 25rem;
        height: 9rem;
        display: flex;
        justify-content: center;

        &__play-btn--hover {
          width: 5rem;
          height: 5rem;
          border-radius: 3rem;
          background-image: url("/img/play_img.png");
          background-repeat: no-repeat;
          background-size: contain;
          cursor: pointer;
        }

        &__play-btn--hover:hover {
          transition: all 0.5s;
          background-image: url("/img/play_img_hover.png");
          background-repeat: no-repeat;
          background-size: contain;
          cursor: pointer;
        }

        &__prev-btn--hover {
          width: 3rem;
          height: 3rem;
          background-image: url("/img/prev_btn.png");
          background-repeat: no-repeat;
          background-size: contain;
          margin-top: 1rem;
          margin-right: 1rem;
        }

        &__prev-btn--hover:hover {
          transition: all 0.5s;
          width: 3rem;
          height: 3rem;
          background-image: url("/img/prev_btn_hover.png");
          background-repeat: no-repeat;
          background-size: contain;
          margin-top: 1rem;
          margin-right: 1rem;
          cursor: pointer;
        }

        &__next-btn--hover {
          width: 3rem;
          height: 3rem;
          background-image: url("/img/next_btn.png");
          background-repeat: no-repeat;
          background-size: contain;
          margin-top: 1rem;
          margin-left: 1rem;
        }

        &__next-btn--hover:hover {
          transition: all 0.5s;
          width: 3rem;
          height: 3rem;
          background-image: url("/img/next_btn_hover.png");
          background-repeat: no-repeat;
          background-size: contain;
          margin-top: 1rem;
          margin-left: 1rem;
          cursor: pointer;
        }

        &__pause-btn--hover {
          width: 5rem;
          height: 5rem;
          border-radius: 3rem;
          background-image: url("/img/pause_img.png");
          background-repeat: no-repeat;
          background-size: contain;
          cursor: pointer;
        }

        &__pause-btn--hover:hover {
          transition: all 0.5s;
          background-image: url("/img/pause_img_hover.png");
          background-repeat: no-repeat;
          background-size: contain;
          cursor: pointer;
        }

        &__loop-btn {
          transition: all 0.5s;
          width: 2rem;
          height: 2rem;
          background-image: url("/img/loop.png");
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          bottom: 0rem;
          left: 1.5rem;
          cursor: pointer;
        }

        &__loop-btn-active {
          transition: all 0.5s;
          width: 2rem;
          height: 2rem;
          background-image: url("/img/loop_active.png");
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          bottom: 0rem;
          left: 1.5rem;
          cursor: pointer;
        }

        &__loop-one-btn-active {
          transition: all 0.5s;
          width: 2rem;
          height: 2rem;
          background-image: url("/img/loop_one_active.png");
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          bottom: 0rem;
          left: 1.5rem;
          cursor: pointer;
        }

        &__shuffle-btn {
          transition: all 0.5s;
          width: 2rem;
          height: 2rem;
          background-image: url("/img/shuffle-btn.png");
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          bottom: -0.1rem;
          left: 4.5rem;
          cursor: pointer;
        }

        &__shuffle-btn-active {
          transition: all 0.5s;
          width: 2rem;
          height: 2rem;
          background-image: url("/img/shuffle-btn-active.png");
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          bottom: -0.1rem;
          left: 4.5rem;
          cursor: pointer;
        }

        &__volume-wrap {
          position: absolute;
          width: 3rem;
          height: 10rem;
          bottom: 0rem;
          right: 1rem;

          &__volume-btn--hover {
            width: 2rem;
            height: 2rem;
            background-image: url("/img/volume_on.png");
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            bottom: 0rem;
            right: 0.5rem;
            cursor: pointer;
          }

          &__volume-btn--hover:hover {
            transition: all 0.5s;
            background-image: url("/img/volume_on_hover.png");
            background-repeat: no-repeat;
            background-size: contain;
          }

          &__volume-btn-mute--hover {
            width: 2rem;
            height: 2rem;
            background-image: url("/img/mute_on.png");
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            bottom: 0rem;
            right: 0.5rem;
            cursor: pointer;
          }

          &__volume-btn-mute--hover:hover {
            transition: all 0.5s;
            background-image: url("/img/mute_on_hover.png");
            background-repeat: no-repeat;
            background-size: contain;
          }

          &__volume-range {
            width: 7rem;
            height: 0.9rem;
            transform: rotate(270deg);
            position: absolute;
            bottom: 5.5rem;
            right: -2.1rem;
          }

          &__volume-range--hidden {
            visibility: hidden;
          }
        }
      }
    }
  }
}

.play-list-spread {
  width: 25rem;
  // height: 100vh; 디스플레이 테스트중
  height: 59.96rem;
  background-color: rgb(185, 78, 78);
  position: absolute;
  top: 0rem;
  right: 0rem;
  text-align: center;

  &__text {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    padding-left: 3.1rem;
  }

  &__bar {
    width: 3rem;
    height: 100vh;
    background-color: white;
    border-left: 0.15rem solid black;
    border-right: 0.15rem solid black;
    box-shadow: black 0rem 0.5rem 1rem;
    display: grid;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0rem;
    left: 0rem;
    cursor: pointer;
    z-index: 999;

    &__arrow {
      width: 2rem;
      height: 2rem;
      background-image: url("/img/arrow_left.png");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__inner {
    width: 25rem;
    height: 93.4vh;
    background-color: beige;
    position: absolute;
    top: 6.6vh;
  }
}

.play-list-folded {
  width: 3rem;
  height: 100vh;
  position: absolute;
  top: 0rem;
  right: 0rem;

  &__bar {
    width: 3rem;
    height: 100vh;
    background-color: white;
    border-left: 0.15rem solid black;
    box-shadow: black 0rem 0.5rem 1rem;
    display: grid;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0rem;
    right: 0rem;
    cursor: pointer;

    &__arrow {
      width: 2rem;
      height: 2rem;
      background-image: url("/img/arrow_right.png");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}