@import url("/style/reset.css");
@font-face {
  font-family: "NanumPenScript-Regular";
  src: url("/style/NanumPenScript-Regular.ttf") format("truetype");
}
input[type=range] {
  -webkit-appearance: none;
  overflow: hidden;
  background: transparent;
  cursor: pointer;
  background: rgb(255, 219, 219);
  border-radius: 1rem;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0.9rem;
  height: 0.9rem;
  background: black;
  box-shadow: -100rem 0 0 100rem rgb(255, 109, 133);
}

.mp3-container {
  width: 100vw;
  height: 100vh;
  font-family: "NanumPenScript-Regular";
}
.mp3-container__background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5rem);
}
.mp3-container__device {
  width: 25rem;
  height: 39rem;
  position: absolute;
  top: 11rem;
  left: 40%;
  border-radius: 1rem;
  box-shadow: black 0rem 0.5rem 1rem;
  border: 0.15rem solid black;
  background-color: white;
}
.mp3-container__device__head {
  width: 25rem;
  height: 24rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mp3-container__device__head__title {
  color: black;
  padding-top: 0.7rem;
  padding-bottom: 0.5rem;
  font-size: 2rem;
}
.mp3-container__device__head__artist {
  font-size: 1.5rem;
  color: black;
}
.mp3-container__device__head__disk {
  margin-top: 1rem;
  width: 17rem;
  height: 17rem;
  border-radius: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: rotate_image 13s linear infinite;
          animation: rotate_image 13s linear infinite;
  transform-origin: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  border: 0.15rem solid black;
}
@-webkit-keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}
.mp3-container__device__head__disk__point {
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  border-radius: 2rem;
  border: 0.2rem solid black;
}
.mp3-container__device__head__disk__pause {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.mp3-container__device__body {
  width: 25rem;
  height: 15rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.mp3-container__device__body__track-wrap {
  position: relative;
  width: 25rem;
  height: 5rem;
  display: flex;
  justify-content: center;
}
.mp3-container__device__body__track-wrap__timeline {
  width: 22rem;
  height: 0.9rem;
}
.mp3-container__device__body__track-wrap__start-time {
  position: absolute;
  font-size: 1.5rem;
  top: 1.3rem;
  left: 1.5rem;
}
.mp3-container__device__body__track-wrap__end-time {
  position: absolute;
  font-size: 1.5rem;
  top: 1.3rem;
  right: 1.5rem;
}
.mp3-container__device__body__bottons-wrap {
  position: relative;
  width: 25rem;
  height: 9rem;
  display: flex;
  justify-content: center;
}
.mp3-container__device__body__bottons-wrap__play-btn--hover {
  width: 5rem;
  height: 5rem;
  border-radius: 3rem;
  background-image: url("/img/play_img.png");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.mp3-container__device__body__bottons-wrap__play-btn--hover:hover {
  transition: all 0.5s;
  background-image: url("/img/play_img_hover.png");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.mp3-container__device__body__bottons-wrap__prev-btn--hover {
  width: 3rem;
  height: 3rem;
  background-image: url("/img/prev_btn.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 1rem;
  margin-right: 1rem;
}
.mp3-container__device__body__bottons-wrap__prev-btn--hover:hover {
  transition: all 0.5s;
  width: 3rem;
  height: 3rem;
  background-image: url("/img/prev_btn_hover.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}
.mp3-container__device__body__bottons-wrap__next-btn--hover {
  width: 3rem;
  height: 3rem;
  background-image: url("/img/next_btn.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 1rem;
  margin-left: 1rem;
}
.mp3-container__device__body__bottons-wrap__next-btn--hover:hover {
  transition: all 0.5s;
  width: 3rem;
  height: 3rem;
  background-image: url("/img/next_btn_hover.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 1rem;
  margin-left: 1rem;
  cursor: pointer;
}
.mp3-container__device__body__bottons-wrap__pause-btn--hover {
  width: 5rem;
  height: 5rem;
  border-radius: 3rem;
  background-image: url("/img/pause_img.png");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.mp3-container__device__body__bottons-wrap__pause-btn--hover:hover {
  transition: all 0.5s;
  background-image: url("/img/pause_img_hover.png");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.mp3-container__device__body__bottons-wrap__loop-btn {
  transition: all 0.5s;
  width: 2rem;
  height: 2rem;
  background-image: url("/img/loop.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0rem;
  left: 1.5rem;
  cursor: pointer;
}
.mp3-container__device__body__bottons-wrap__loop-btn-active {
  transition: all 0.5s;
  width: 2rem;
  height: 2rem;
  background-image: url("/img/loop_active.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0rem;
  left: 1.5rem;
  cursor: pointer;
}
.mp3-container__device__body__bottons-wrap__loop-one-btn-active {
  transition: all 0.5s;
  width: 2rem;
  height: 2rem;
  background-image: url("/img/loop_one_active.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0rem;
  left: 1.5rem;
  cursor: pointer;
}
.mp3-container__device__body__bottons-wrap__shuffle-btn {
  transition: all 0.5s;
  width: 2rem;
  height: 2rem;
  background-image: url("/img/shuffle-btn.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: -0.1rem;
  left: 4.5rem;
  cursor: pointer;
}
.mp3-container__device__body__bottons-wrap__shuffle-btn-active {
  transition: all 0.5s;
  width: 2rem;
  height: 2rem;
  background-image: url("/img/shuffle-btn-active.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: -0.1rem;
  left: 4.5rem;
  cursor: pointer;
}
.mp3-container__device__body__bottons-wrap__volume-wrap {
  position: absolute;
  width: 3rem;
  height: 10rem;
  bottom: 0rem;
  right: 1rem;
}
.mp3-container__device__body__bottons-wrap__volume-wrap__volume-btn--hover {
  width: 2rem;
  height: 2rem;
  background-image: url("/img/volume_on.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0rem;
  right: 0.5rem;
  cursor: pointer;
}
.mp3-container__device__body__bottons-wrap__volume-wrap__volume-btn--hover:hover {
  transition: all 0.5s;
  background-image: url("/img/volume_on_hover.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.mp3-container__device__body__bottons-wrap__volume-wrap__volume-btn-mute--hover {
  width: 2rem;
  height: 2rem;
  background-image: url("/img/mute_on.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0rem;
  right: 0.5rem;
  cursor: pointer;
}
.mp3-container__device__body__bottons-wrap__volume-wrap__volume-btn-mute--hover:hover {
  transition: all 0.5s;
  background-image: url("/img/mute_on_hover.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.mp3-container__device__body__bottons-wrap__volume-wrap__volume-range {
  width: 7rem;
  height: 0.9rem;
  transform: rotate(270deg);
  position: absolute;
  bottom: 5.5rem;
  right: -2.1rem;
}
.mp3-container__device__body__bottons-wrap__volume-wrap__volume-range--hidden {
  visibility: hidden;
}/*# sourceMappingURL=index.css.map */